<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Todo list</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Nouvelle Tache:</h1>
	<form action="#" th:action="@{/}" th:object="${tache}" method="post">
    <table border="1">
        <tr>
            <td><input type="text" th:field="*{title}" /></td>
            <td><input type="submit" value="Inserer" /></td>
        </tr>
        <!-- <tr><td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Veuillez inserer le titre de la tache</td></tr>-->
    </table>
</form>
	<h1>Mes Taches:</h1>
	<ul th:each="tache : ${taches}">
		<li th:text="${tache.title}"></li>
	</ul>
</body>
</html>